@font-face {
    font-family:'Komika Hand';
    src: url('komika_hand.eot');
	src: url('komika_hand.eot?#iefix') format('embedded-opentype'),
		url('komika_hand.woff2') format('woff2'),
		url('komika_hand.woff') format('woff'),
		url('komika_hand.ttf') format('truetype'),
		url('komika_hand.otf') format('opentype'),
		url('komika_hand.svg#Komika Hand') format('svg');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2215;
}

@font-face {
    font-family:'Komika Hand';
    src: url('komika_hand_italic.eot');
	src: url('komika_hand_italic.eot?#iefix') format('embedded-opentype'),
		url('komika_hand_italic.woff2') format('woff2'),
		url('komika_hand_italic.woff') format('woff'),
		url('komika_hand_italic.ttf') format('truetype'),
		url('komika_hand_italic.otf') format('opentype'),
		url('komika_hand_italic.svg#Komika Hand Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0006-2122;
}

@font-face {
    font-family:'Komika Hand';
    src: url('komika_hand_bold.eot');
	src: url('komika_hand_bold.eot?#iefix') format('embedded-opentype'),
		url('komika_hand_bold.woff2') format('woff2'),
		url('komika_hand_bold.woff') format('woff'),
		url('komika_hand_bold.ttf') format('truetype'),
		url('komika_hand_bold.otf') format('opentype'),
		url('komika_hand_bold.svg#Komika Hand Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2215;
}

@font-face {
    font-family:'Komika Hand';
    src: url('komika_hand_bold_italic.eot');
	src: url('komika_hand_bold_italic.eot?#iefix') format('embedded-opentype'),
		url('komika_hand_bold_italic.woff2') format('woff2'),
		url('komika_hand_bold_italic.woff') format('woff'),
		url('komika_hand_bold_italic.ttf') format('truetype'),
		url('komika_hand_bold_italic.otf') format('opentype'),
		url('komika_hand_bold_italic.svg#Komika Hand Bold Italic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0006-2122;
}
